.site {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.site .main-container {
    margin-top: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.loader .spinner-border {
    width: 200px;
    height: 200px;
}